body {
    background-color:brown;
    text-align:center;
    }
    #para1{
    color:white;
    font-size:40;
    }
    #img1 {
    height:300px;
    width:300px;
    border-width:5px;
    border-color:yellow;
    padding:50px;
    }